.first-challenge{
    text-align: center;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.new{
    color: orange;
}
.mac{
    font-size: 16px;
    font-weight: bold;
}
.super{
    font-size: 30px;
    font-weight: bold;
}
button{
    border-radius: 30px;
    background-color: rgb(84, 84, 252);
    color: white;
    border: none;
    height: 40px;
    width: 60px;
    cursor: pointer;
}
.btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.second-challenge{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    margin-top: 50px;
}
.price{
    font-size: 40px;
    margin-bottom: 0px;
}
.usd{
    font-size: 20px;
    color: rgb(71, 72, 73);
    font-weight: bold;
}
.increase{
    color: green;
}
.decrease{
    color: red;
}

.third-challenge{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    margin-top: 50px;
}
.message{
    margin-bottom: 40px;
}
.free{
    font-weight: bold;

}
.code{
    color: rgb(89, 89, 89);
}
.chp{
    color: skyblue;
}