a{
    color: rgb(5, 122, 122);
    transition: color 0.15;
}
a:hover{
    color: orange;
}


.price{
    color: green;
}
button{
    border-radius: 20px;
    width: 110px;
    height: 30px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.cart-button{
    background-color: rgb(194, 194, 36);
}
.cart-button:hover{
    background-color: rgb(164, 164, 5);
}
.cart-button:active{
    background-color: rgb(255, 255, 0);
}
.buynow-button{
    background-color: orange;
}
.buynow-button:hover{
    background-color: rgb(174, 126, 35);
}
.buynow-button:active{
    opacity: 0.6;
}